body {
    background-color: rgb(59, 59, 59);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    color: rgb(216, 216, 216);
}
.nav{
    list-style-type: none;
    background-color: rgb(128, 128, 128);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav li {
    float: left;
}

ul.nav li a{
    display: block;
    padding: 8px 16px;
    color: rgb(216, 216, 216);
    text-decoration: none;
}
ul.nav a:hover {
    background-color: rgb(80, 80, 80);
}
.active {
    background-color: rgb(45, 45, 45);
}