body {
    background-color: #4B39AD;
    font-family: "blanket", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1, h2 {
    font-family: "dream-big-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navmenu {
    text-align: center;
    padding: 0px;
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 0px;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 40px;
    background-color: #C59CDB;
}

.logo{
    width: 50px;
    background-color: transparent;
}

ul.nav li {
    float: left;
    padding: auto;
}

ul.nav li a{
    display: block;
    padding: 8px 16px;
    color: #000080;
    text-decoration: none;
}
ul.nav li a.logo-link-wrap{
    padding: 0px 0px;
}
ul.nav a:hover {
    background-color: #7851a9;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
.grid-container{
    display:grid;
    grid-template-columns: 25% 25% 25% 23%;
    grid-template-rows: auto auto auto;
    gap: 10px 10px;
}

.grid-item{
    font-size: 20px;
    text-align: left;
    padding: 20px;
    background-color: #C59CDB;
}