body {
    background-color:rgb(150,150,150);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
    grid-column: 1 / span 4;
    grid-row: 1;
}
#nav-bar {
    grid-row: 2;
    grid-column: 1 / span 4;
}
.grid-container{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto;
    gap: 20px 10px;
}

.grid-item{
    font-size: 20px;
    text-align: left;
    padding: 20px;
    background-color: rgb(50,50,50);
    box-shadow: 0 10px rgba(84, 0, 0, 1);
    color: white;
    text-align:center;
}
#book-list{
    grid-row: 3 / span 2;
    grid-column: 1 / span 2;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav li {
    float: left;
}

ul.nav li a{
    display: block;
    padding: 8px 16px;
    color: rgb(216, 216, 216);
    text-decoration: none;
}
ul.nav a:hover {
    background-color: rgb(80, 80, 80);
}

#inner-book-list {
    text-decoration: none;
    list-style-type: none;
    color: white;
}
.title-container {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    gap: 10px 10px;
}
#title-img-1 {
    grid-row: 1;
    grid-column: 2;
}
#title-text-1 {
    grid-row: 1;
    grid-column: 1
}
.store-front-photo {
    grid-row: 3;
    grid-column: 3 / span 2;
    color: white;
}
#shopping-cart {
    padding: auto auto;
}

#accessibility {
    grid-row: 3;
    grid-column: 1 / span 2;
}
#History {
    grid-row: 3;
    grid-column: 3 / span 2;
}
#collective {
    grid-row: 4;
    grid-column: 1 / span 2;
}
#distribution {
    grid-row: 4;
    grid-column: 3 / span 2;
}
#submissions {
    grid-row: 5;
    grid-column: 1 / span 4;
}
#publishing-project {
    grid-row: 3 / span 4;
    grid-column: 1 / span 2;
}
#open-mic {
    grid-row: 3;
    grid-column: 1 / span 4;
}
#anarchism-event {
    grid-row: 4;
    grid-column: 1 / span 2;
}
#abolition-event {
    grid-row: 4;
    grid-column: 3 / span 2;
}
#self-publishing {
    grid-row: 3;
    grid-column: 1 / span 4;
}
#new-arrivals {
    grid-row: 4;
    grid-column: 1 / span 4;
}
#staff-picks {
    grid-row: 5;
    grid-column: 1 / span 4;
}
#featured-fiction {
    grid-row: 6;
    grid-column: 1 / span 4;
}
#books-to-prisoners {
    grid-row: 3;
    grid-column: 3 / span 2;
}
#volunteering {
    grid-row: 4;
    grid-column: 3 / span 2;
}